.toolbar_color_dark_violet {
    color: #7E208F;
}

.toolbar_color_transparent_dark_violet {
    color: #c87E208F
}


.status_bar_color_dark_violet {
    color: #c8641A71
}

.status_bar_color_transparent_dark_violet {
    color: #c8641A71
}

.navigation_color_dark_violet {
    color: #52155C
}

.navigation_color_transparent_dark_violet {
    color: #c852155C
}

.accent_color_dark_violet {
    color: #FF9800
}

.menu_separator_color_dark_violet {
    color: #C03BD8
}

.background_color_dark_violet {
    background-color: #9C28B1;
}

.background_color_transparent_dark_violet {
    background-color: #BD33D6;
}

.background_color_selected_dark_violet {
    background-color: #D50CFA;
}
.home_menu_color_dark_violet {
    color: #ffffff;
}

.home_menu_color_bold_dark_violet {
    color: #FFFFFF
}

.background_colorful_title_color_dark_violet {
    color: #ffffff;
}

.background_colorful_title_color_bold_dark_violet {
    color: #ffffff;
}

.background_highlighted_title_color_dark_violet {
    color: #3DC0F4;
}

.background_title_color_dark_violet {
    color: #FAFAFA !important;
}

.background_title_color_bold_dark_violet {
    color: #FFFFFF !important;
}

.background_title_color_light_dark_violet {
    color: #FAFAFA;
}

.toolbar_title_color_dark_violet {
    color: #ffffff;
}

.toolbar_title_color_selector_dark_violet {
    color: #09361F;
}

.toolbar_subtitle_color_dark_violet {
    color: #FDFDFD;
}
