.toolbar_color_green_light {
    color: #539055;
}

.toolbar_color_transparent_green_light {
    color: #c8539055
}


.status_bar_color_green_light {
    color: #38733B
}

.status_bar_color_transparent_green_light {
    color: #c838733B
}

.navigation_color_green_light {
    color: #38733B
}

.navigation_color_transparent_green_light {
    color: #c838733B
}

.accent_color_green_light {
    color: #76CA79
}

.menu_separator_color_green_light {
    color: #E9F4F0
}

.background_color_green_light {
    background-color: #F5F5F5;
}

.background_color_transparent_green_light {
    background-color: #F1F1F1;
}

.background_color_selected_green_light {
    background-color: #D9DDD9;
}
.home_menu_color_green_light {
    color: #539055;
}

.home_menu_color_bold_green_light {
    color: #38733B
}

.background_colorful_title_color_green_light {
    color: #539055;
}

.background_colorful_title_color_bold_green_light {
    color: #38733B;
}

.background_highlighted_title_color_green_light {
    color: #07C600;
}

.background_title_color_green_light {
    color: #333333 !important;
}

.background_title_color_bold_green_light {
    color: #000000 !important;
}

.background_title_color_light_green_light {
    color: #606060;
}

.toolbar_title_color_green_light {
    color: #ffffff;
}

.toolbar_title_color_selector_green_light {
    color: #316333;
}

.toolbar_subtitle_color_green_light {
    color: #DDDDDD;
}
