.toolbar_color_maroon {
    color: #35091f;
}

.toolbar_color_transparent_maroon {
    color: #c835091f
}


.status_bar_color_maroon {
    color: #270617
}

.status_bar_color_transparent_maroon {
    color: #c8270617
}

.navigation_color_maroon {
    color: #270617
}

.navigation_color_transparent_maroon {
    color: #c8270617
}

.accent_color_maroon {
    color: #FF9800
}

.menu_separator_color_maroon {
    color: #370920
}

.background_color_maroon {
    background-color: #3e0a24;
}

.background_color_transparent_maroon {
    background-color: #4C0D2C;
}

.background_color_selected_maroon {
    background-color: #701642;
}
.home_menu_color_maroon {
    color: #ffffff !important;
}

.home_menu_color_bold_maroon {
    color: #FFFFFF
}

.background_colorful_title_color_maroon {
    color: #ffffff;
}

.background_colorful_title_color_bold_maroon {
    color: #ffffff;
}

.background_highlighted_title_color_maroon {
    color: #3DC0F4;
}

.background_title_color_maroon {
    color: #FAFAFA !important;
}

.background_title_color_bold_maroon {
    color: #ffffff !important
}

.background_title_color_light_maroon {
    color: #FAFAFA;
}

.toolbar_title_color_maroon {
    color: #ffffff !important;
}

.toolbar_title_color_selector_maroon {
    color: #09361F;
}

.toolbar_subtitle_color_maroon {
    color: #FDFDFD;
}
